<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>BLUEROSE najlepsza mafijna bojówka</title>
        <link rel="Stylesheet" type="text/css" href={{ asset('css/style.css') }} />

    </head>

    <body>
        <center>
        <div id= "content">
            <div id="logo1">
            </div>
            <div id="logo2">
            </div>
            <div id="menu">
                <ul>
<li><a href="{{ path('chiave_static', { slug: 'statystyki'}) }}">Statystyki</a></li>
<li><a href="{{ path('chiave_static', { slug: 'zbiorki'}) }}">Zbiórki</a></li>
<li><a href="{{ path('chiave_static', { slug: 'ranking'}) }}">Ranking</a></li>
<li><a href="{{ path('chiave_static', { slug: 'partia'}) }}">Partia</a></li>
<li><a href="{{ path('chiave_static', { slug: 'dolacz'}) }}">Dołącz do nas</a></li>
<li><a href="{{ path('chiave_static', { slug: 'dof'}) }}">Dofinansowanie</a></li>
<li><a href="{{ path('chiave_static', { slug: 'download'}) }}">Do pobrania</a></li>
<li><a href="{{ path('chiave_static', { slug: 'funrose'}) }}">Strefa FUNrose</a></li>
<li><a href="#">LOGOWANIE</a></li>
                </ul>
            </div>

            <div id="prawa_strona">
                <!-- Tutaj jest wstawiana treść z plików zewnętrznych -->
                {% block body %}{% endblock %}
            </div>


        <div class="both"></div>
        <div id="stopka">
        Copyright @BLUEROSE
    </div>


    </body>

{#
    <body>
        <div id="page">
            <div id="header">
                <div class="fullWrapper">

                    <div class="topMenu">
                        {{ render(controller('ChiaveCMSBundle:Pages:renderMenu')) }}
                    </div><!-- end topMenu class -->
                </div><!--  end class fullWrapper for #header -->
            </div><!-- end div header -->

            <div id="content">
                <div class="fullWrapperPad">
                    <div class="column s7">
                        {% block body %}{% endblock %}
                    </div><!-- end column s7 -->

                    <div class="column s3">
                        {{ render(controller('ChiaveCMSBundle:Articles:importantArticles')) }}
                    </div><!-- end column s3 -->
            </div><!--  end fullWrapperPad for content -->
            </div><!-- end div content -->

            <div id="footer">
            </div><!--  end div footer -->
        </div><!-- end div page -->

        {% block javascripts %}{% endblock %}
        <script type="text/javascript">

            $(document).ready(function(){

                $('.tabWrapper ul:FIRST-CHILD li:FIRST-CHILD' ).addClass('active');
                $('.tabWrapper ul:FIRST-CHILD li').click(function(){
                	$('.tabWrapper ul:FIRST-CHILD li').removeClass("active");
                	$(this).addClass('active');
                	$('div.tabWrapper > div').hide();
                    $('div.tabWrapper > div:eq('+$(this).index()+')').show();
                    });

                $(".listToggle").click(function(){
                    $('div.more').slideUp();
                    if($(this).next().is(':hidden'))
                    {
                    	$(this).next().slideDown();
                    }
                });

                $('.hide').click(function() {
                    $(this).parent().slideUp();
                    });

                $('#plainBoxToggle').click(function(){
                    $(this).hide();
                    $('#plainBoxTarget').slideDown();
                });
                $('#plainBoxToggle2').click(function(){
                    $('#plainBoxTarget').slideUp();
                    $('#plainBoxToggle').show();
                });
            });
        </script>
    </body> #}
</html>
