{% extends "ChiaveCoreBundle::backendbase.html.twig" %}

{% block title %}Gracze{% endblock %}
{% block description %}lista aktualizacji gracza
 {{ citizenChanges | first .citizen }}{% endblock %}

{% block active_name %}chiave_scrobbler_citizens{% endblock %}

{% block body %}

    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th>Cecha</th>
                <th>Nowa wartość</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        {% for change in citizenChanges %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ change.field }}</td>
                <td>{{ change.value }}</td>
                <td>{{ change.changedAt | date("d m Y H:i:s") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
